---
const { title, slug, pubDate, readingTime, author } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { formatISODate } from "../utils/dataFormatte";
import { SITE_CONFIG } from "../config";
import Comment from "../components/comment.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold mt-10" transition:name={`post-title-${slug}`}>
    {title}
  </h1>

  <div
    class="flex items-center text-sm text-gray-500 dark:text-gray-400 space-x-4"
  >
    <span transition:name={`post-date-${slug}`}>
      <span>写于 · </span>
      <time datetime={formatISODate(pubDate)}>
        <FormattedDate date={pubDate} />
      </time>
    </span>
  </div>

  <!-- 正文 -->
  <div class="prose dark:prose-invert">
    <slot />
  </div>

  <!-- 作者信息 -->
  <footer
    class="mt-8 border-t border-gray-200 dark:border-gray-800 pt-4 text-sm text-gray-500 dark:text-gray-400"
  >
    作者: {SITE_CONFIG.author}
  </footer>

  <Comment post={Astro.props} system="artalk" />
</BaseLayout>
