---
const { title, slug, pubDate, readingTime, author } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { formatISODate } from "../utils/dataFormatte";
import { Bloger_NAME } from "../config";
---

<BaseLayout>
  <!-- 标题（共享过渡） -->
  <h1 class="text-3xl font-bold" transition:name={`post-title-${slug}`}>
    {title}
  </h1>

  <!-- 时间 + 阅读时长 -->
  <div
    class="flex items-center text-sm text-gray-500 dark:text-gray-400 space-x-4"
  >
    <span transition:name={`post-date-${slug}`}>
      <span>写于 · </span>
      <time datetime={formatISODate(pubDate)}><FormattedDate date={pubDate} /></time>
    </span>
    <span>· 阅读约 {readingTime}</span>
  </div>

  <!-- 正文 -->
  <div class="prose dark:prose-invert">
    <slot />
  </div>

  <!-- 作者信息 -->
  <footer
    class="mt-8 border-t border-gray-200 dark:border-gray-800 pt-4 text-sm text-gray-500 dark:text-gray-400"
  >
    作者: {Bloger_NAME}
  </footer>
</BaseLayout>
